/* CSS Document */

html, body, #page {
	height: 100%;
	background-image: linear-gradient(to top, #0a0a0a, #202020);
    margin: 0px;
    padding: 0px;
	overflow:hidden;
}

.links {
	color: #FFF;
	margin: 0px;
	font-family: "Microsoft Sans Serif";
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	background-position: right;
}

a {
			color: #ff8800;
		}
		a:hover {
			color: #666;
		}

.container {
	display: flex;	
}

.left{
}

.center {
	width: 640px;
	border: 2px black;
	position: absolute;
	align-content: center;
    margin: 0px;
    padding: 0px;
	border-collapse: collapse;
}
.title {
	background-image:url(images/banner.png);
	width: 640px;
	height: 144px;
	border-collapse: collapse;
    margin: 0px;
    padding: 0px;
	}

.contentdiv {
	margin: 0px;
	padding: 0px;
	width: 640px;
	height: 400%;
	background-color: #202020;
	border-collapse: collapse;
	}

.content {
	color: white;
	width: 504px;
	padding-left: 72px;
	padding-top:24px;
	top: 0px;
	}
	
.mainlinks {
	color: white;
	
}

.h1 {
	margin: 0px;
}
